
1. In order to use the tool, the user must put the folder "data" in the same folder as "Project_Blacklitterman_Model.py". 

2. Also, the user should install pandas-datareader on the terminal first. 
For Anaconda users, enter in the terminal

     conda install -c anaconda pandas-datareader
     
 Otherwise, enter in the terminal
 
     pip install pandas-datareader
